body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
}

.small img, .large img {
  height: 100%;
  float: left;
  margin-right: 8px;
}

em {
  color: #999;
}

.lede {
  font-size: 18px;
  font-style: italic;
}
