/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
  height: 100%;
  background-color: #eee;
  color: #333;
  font-family: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}

h1 {
  font-size: 48px;
  margin: 32px 0 82px 0;
}

.cards {
  width: 960px;
  margin: 0 auto;
}

.cards iframe {
  border: 1px solid rgba(0,0,0, 0.8);
  border-radius: 3px;
}

.analytics {
  position: fixed;
  bottom: -380px;
  right: 0;
  left: 0;

  height: 400px;

  -webkit-transition: bottom 0.2s ease-out;
}

.analytics.showing {
  bottom: 0;
}

.analytics .tab {
  width: 130px;
  height: 16px;

  margin-left: 7px;
  padding: 4px 13px 0 13px;

  border-radius: 3px 3px 0 0;

  color: #eee;
  background-color: rgba(0,0,0,0.9);

  font-size: 14px;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  cursor: pointer;
}

.analytics .panel {
  position: relative;

  height: 380px;
  width: 100%;

  color: #eee;
  background-color: rgba(0,0,0,0.9);
}

.analytics .output {
  position: absolute;

  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;

  overflow: scroll;

  border-radius: 2px;

  /*background-color: white;*/

  font-family: "Menlo", Consolas, monaco, monospace;)

}
